* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background: linear-gradient(to right, #01c1fc9a,#017afc8a, #0171fa74);
        }
        header{
            text-align: center;
            padding: 20px;
            color: #333;
            font-family: Arial, sans-serif;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        header h1 {
            font-size: 2rem;
            margin-bottom: 10px;
        }
        header h2 {
            font-size: 1.2rem;
            margin: 2rem 3rem;
        }
        header p {
            font-size: 1rem;
            margin-bottom: 10px;
        }
        header div {
            width: 60dvw;
        }

        form {
            display: flex;
            justify-content: center;
        }

        #content {
            display: flex;
            flex-direction: column;
        }

        #content label {
            font-weight: bold;
        }

        #content label,
        p,
        button {
            margin: 8px 0px 0px 0px;
            /*top rigth botton left*/
        }

        #content input,
        textarea {
            border-radius: 10px 5px;
            background: rgb(187, 238, 255);
            padding: 10px;
            border-style: hidden;
        }

        #content input:hover,
        textarea:hover {
            background-color:  #cdf2fefe;;
        }

        button {
            font-family: cursive;
            font-size: 14px;
            width: 10rem;
            height: 2rem;
            border-style: none;
            border-radius: 8px;
            background-color: rgba(0, 0, 255, 0.5);
            cursor: pointer;
        }

        button:hover {
            font-size: 14.5px;
            background-color: rgba(0, 0, 255, 0.6);
        }